[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-debugtoolbar = "*"
flask-moment = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
python-dotenv = "*"

{% if cookiecutter.better_dev_experience == "yes" %}
[dev-packages]
coverage = "*"
pdir2 = "*"
ptpython = "*"
yapf = "*"
{% endif %}

[scripts]
test = "python -m unittest discover"
{% if cookiecutter.better_dev_experience == "yes" %}
coverage = "coverage run -m unittest discover"
{% endif %}