[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-debugtoolbar = "*"
flask-moment = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
