/* universal */

html {
    overflow-y: scroll;
}

body {
    margin-top: 100px;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999999;
}

footer a {
    color: #999999;
}

footer p {
    float: right;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: left;
}

footer .company {
    float: left;
}

footer .footer-nav {
    float: right;
    list-style: none;
}
