/* global */

nav {
    margin-bottom: 30px;
}

.jumbotron {
    margin-top: 20px;
    padding-top: 38px;
    padding-bottom: 38px;
}

/* footer */

footer {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}
