{% extends 'layout.html' %}

{% block app_content %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron">
            <h1>这是一个由模板搭建的flask app</h1>
            <p>
                <a class="btn btn-primary btn-large" href="https://zhuanlan.zhihu.com/c_193656487">Pythonが大好き</a>
            </p>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>
            <i class="fa fa-code"> 精炼的代码</i>
        </h2>
        <p>
            比起其他的flask项目，此项目的代码力求精炼易懂，并且符合最佳实践，适合初学者快速上手。
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            <i class="fa fa-wrench"> 完备的扩展</i>
        </h2>
        <p>
            '此项目集成了前端模板、表单、数据库、注册登录等基础扩展，方便开发者迅速构建网页。
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            <i class="fa fa-heart"> 懒人的最爱</i>
        </h2>
        <p>
            如果你想用flask迅速搭建一个功能齐全的页面，那此模板一定是你的不二之选！
        </p>
    </div>
</div>
{% endblock %}